html,body{
    width: 100%;
    height:100%;
    margin:0pt;
}


p {
    color:red;
    border: 2px red;
    margin: 0px;
}

h3{
    color: goldenrod;
}

#content{
    margin: 0 pt;
    background-color: slategray;
    height:73% ;
    width: 100% - 10px;
    padding: 10px;
}

#options{
    height:21%;
    margin-top: 1%;
    margin: 1% 1% 0% 1%;
    background-color: red; 

}