body{
    margin:0%;
}

p {
    color:red;
    border: 2px red;
    margin: 0px;
}

h3{
    color: goldenrod;
}

#root{
    height:100%;
}

#content{
    padding: 15px;
    background-color:#42FFFF;
}

#menu{
    vertical-align:middle;
    position: absolute; 
    left: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0px;
    user-select: none;
}

.menuItem{
    background-color: #404040;
    line-height: 30px;
    display:inline;
    padding: 5px 10px 5px 10px;
    font-size: 16pt;
    color: antiquewhite;
    line-height: 50px;
    opacity: 60%;
    font-family: Arial, Helvetica, sans-serif;

}

.menuItem a{
    color: antiquewhite;
    text-decoration: none;
}

.menuItem:hover{
    background-color: #2a2a2a;
    cursor: pointer;
    opacity: 1000%;
}

#show{
    opacity: 0%;
    left: 5px;
    position: fixed;
    bottom: 5px;
    border-style: none;
    color: antiquewhite;
    background-color: crimson;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

#show:hover{
    opacity:100%;
}

.columns{
    margin-right: 10x;
    display: inline-block;
    border: solid 1px black;
    width: 140pt;
    height: 100%;
    padding: 5px;
    background-color:#7FFFD4;
}

.columnTitle{
    margin: auto;
    font-size: 18pt;
    border: dotted 1px black;
    background-color: #CFE3FF;
    height: 20pt;
    width: 97%;
    text-align: center;
}

.addButton{
    border: solid 1px black;
    margin: auto;
    background-color: #FFC7FC;
    width: 100%;
    outline: none;
}

.Rows{
    height: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-x: scroll;
}

.Row{
    border: solid 1px black;
    background-color: #B8F9AB;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    font-size: 16px;
}

.Row p{
    user-select: none;
    padding-top: 2px;
}

.Rows::-webkit-scrollbar {
    display: none;
}

.overlayDisplay{
    display:flex;
    position:absolute;
    top: 0;
    left: 0;
    background-color: #404040;
    opacity: 50%;
    overflow : hidden;
    width: 100%;
    height: 100%;
}

.expand{
    position: absolute;
    background-color: teal;
}

.title, .description{
    border-bottom: 3px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: auto;
    display:block;
}

.title{
    width: 90%;
    height: 10%;
    margin-bottom: 15px;
    background-color: #339A9A;
}

.description{
    width: 90%;
    height: 65%;
    resize: none;
    background-color: #339A9A;
}

.title:focus, .description:focus{
    color: white;
    border-bottom: 3px solid red;
    outline: none;
    transition: 1s;
}

.expandLabel{
    display: block;
    color:white;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
